@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: sans-serif;
  src: url('/public//fonts/SpecifyPERSONAL-NormBold.ttf') format('truetype');

}
@font-face {
  font-family: 'specific-black';
  src: url('/public//fonts/SpecifyPERSONAL-ExExpBold.ttf') format('truetype');
}
@layer base {
  :root {
    --background: 200 33% 93%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 200 33% 93%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #00ff7f;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

// div {
//   background-color: #e7f0f4 !important;
// }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-image: url(/assets/bkg.png);
    background-size: cover ;
    backdrop-filter: blur(16px);
    @apply  text-foreground;
  }
}

@layer utilities {
  .link {
    @apply text-blue-500 underline decoration-from-font [text-underline-position:from-font];
  }
}
